.App {
  font-family: Arial,sans-serif;
  text-align: center;
  padding: 40px;
  background-color: #8290ae;
  min-height: 100vh;
}

h1 {
  margin-bottom: 30px;
  color: rgb(237, 235, 113);
}

/* FLASHCARD CONTAINER */
.flashcard {
  width: 300px;
  height: 180px;
  margin: 20px auto;
  perspective: 1000px;
  cursor: pointer;
  position: relative; /* stacking flashcards */
}

.flashcard > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;
  border-radius: 12px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  font-weight: 600;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.6s ease;
}


.flashcard .front {
  transform: rotateY(0deg);
}

/* BACK SIDE */
.flashcard .back {
  transform: rotateY(180deg);
}

/* FLIPPED STATE */
.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(360deg);
}

.flashcard:hover {
  transform: scale(1.03);
}


input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #234128;
  margin-right: 10px;
  font-size: 16px;
  color:#354edb;
}

/* BUTTONS */
button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d3919a;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #354edb;
}

button:disabled {
  background-color: #ff9a20;
  cursor: not-allowed;
}

/* FEEDBACK */
.correct {
  color: green;
  font-weight: bold;
  margin-top: 15px;
}

.wrong {
  color: red;
  font-weight: bold;
  margin-top: 15px;
}

/* NAVIGATION */
.navButtons {
  margin-top: 25px;
}